<IfModule mod_rewrite.c> 
  RewriteEngine on
  RewriteBase /ci/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/include/(.*)$
  RewriteCond %{REQUEST_URI} !^/img/(.*)$
  RewriteCond $1 !^(index\.php|js|ckeditor|images|robots\.txt)
  RewriteRule ^(.*)$ /ci/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
  ErrorDocument 404 /
</IfModule>