	#productDetail_contents{
		margin-top: 4%;
		width: 100%;
		height: 0 auto;
		/*margin-left: 16%;*/
		font-family: '1훈정글북','나눔고딕';
	}
	#productDetail_detailContent{
		width: 100%;
	}
	#productDetail_contents div{
		float: left;
	}
	#productDetail_imgdiv{
		height: 475px;
		width: 33%;
		margin-left: 14%;
	}
	#productDetail_imgdiv img{
		width: 100%;
		height: 100%;
	}
	#productDetail_Textdiv{
		width: 33%;
		height: 475px;
		margin-left: 1%;
		padding-left: 2%;
		border-top:1px solid #cacaca;
		border-bottom:1px solid #cacaca;
	}
	#productDetail_title{
		width: 95%;
		border-bottom: 1px dotted #797979;
		margin-top: 10%;
		height: 7%;
		font-size: 25px;
		padding-bottom: 1%;
	}
	#productDetail_content{
		width: 95%;
		/*border-bottom: 1px dotted #797979;*/
		margin-top: 6%;
		margin-bottom: 6%;
		padding-bottom: 5%;
		height: 15%;
		font-size: 15px;
		border-bottom: 1px dotted #797979;
	}
	#productDetail_info{
		width: 90%;
		height: 33%;
		margin-bottom: 5%;
	}
	#productDetail_info_title{
		width: 25%;
		height: 100%;
	}
	#productDetail_info_value{
		width: 70%;
		height: 100%;
	}
	#productDetail_info_title li{
		margin-bottom: 18%;
	}
	#productDetail_info_value li{
		margin-bottom: 6%;
	}
	#productDetail_button{
		width: 95%;
		height: 12%;
	}
	#productDetail_button button{
		width: 32%;
		height: 100%;
		background-color: white;
		border:1px solid #797979;
		border-radius: 5px;
	}
	#productDetail_button button:hover{
		background-color: #eaeaea;
	}
	#order_count{
		width: 13%;
	}
	.productDetail_count div{
		width: 10px;
		height: 20px; 
		margin-top: 2px; 
		margin-right: 4px;
	}

	#ProductDetail_adminButton{

		width: 66%;
		margin: 0 auto;
		margin-top: 3%;
	}