/*메인 css*/
.body {
  width : 100%;
  height : 100%;
}

.main_content{
  margin : 0 auto;
  width : 100%;
  height : 92%;
  position : relative;
}

/*드래그 할 객체의 CSS*/
.draggable_content_main{
  margin : 0 auto;
  width : 100px;
  height : 300px;
  position : fixed;
  left : 10px;
  top : 150px;
  z-index : 1;
  background-color: none;
}

.draggable_content_main img{
  height : 100%;
}

/*드래그할 객체의 내부 CSS*/
/*.menu{*/
/*  margin : 0 auto;*/
/*  width : 100%;*/
/*  height : 20%;*/
/*  font-size : 20px;*/
/*  text-align : center;*/
/*}*/

.first_content{
  margin : 0 auto;
  width : 100%;
  height : 20%;
  border-radius : 7px;
  font-size : 20px;
  text-align : center;
  background-color : white;
  border : 3px solid #2c68c9;
  box-shadow : 4px 4px 5px #7c7c7c;
}

.second_content{
  margin : 0 auto;
  width : 100%;
  height : 20%;
  font-size : 20px;
  text-align : center;
  border-radius :7px;
  background-color : white;
  border : 3px solid #f21f1f;
  box-shadow : 4px 4px 5px #7c7c7c;
}

.third_content{
  margin : 0 auto;
  width : 100%;
  height : 20%;
  font-size : 20px;
  text-align : center;
  border-radius :7px;
  background-color : white;
  border : 3px solid #1ab25f;
  box-shadow : 4px 4px 5px #7c7c7c;
}

.fourth_content{
  margin : 0 auto;
  width : 100%;
  height : 20%;
  font-size : 20px;
  text-align : center;
  border-radius :7px;
  background-color : white;
  border : 3px solid #b558dd;
  box-shadow : 4px 4px 5px #7c7c7c;
}

.fifth_content{
  margin : 0 auto;
  width : 100%;
  height : 20%;
  font-size : 20px;
  text-align : center;
  border-radius :7px;
  background-color : white;
  border : 3px solid #30cce8;
  box-shadow : 4px 4px 5px #7c7c7c;
}

.cancel_content{
  margin : 0 auto;
  width : 100%;
  height : 20%;
  font-size : 20px;
  text-align : center;
  border-radius :7px;
  background-color : white;
  border : 3px solid #fc8b28;
  box-shadow : 4px 4px 5px #7c7c7c;
}

.cancel_content img {
  margin-top : 10%;
  width : 60%;
  height : 60%;
}

/*드래그 할 객체를 display 하는 CSS*/
.draggable_content_sub{
  margin-left : 20px;
  width : 300px;
  height : 550px;
  border : 1px solid gray;
  border-radius : 5px;
  position : fixed;
  left : 110px;
  top : 130px;
  z-index : 1;
  background-color: white;
  box-shadow : 4px 4px 5px #7c7c7c;
}

/*display할 content의 리스트를 보여줄 CSS*/
.widget_content_list{
  margin : 0 auto;
  width : 100%;
  height : 100%;
}

.timeline_content_list{
  margin : 0 auto;
  width : 100%;
  height : 50px;
}

.timeline_content_list img{
  border : 1px solid black;
}

.ui_content_list{
  margin : 0 auto;
  width : 100%;
  height : 50px;
}

.ui_content_list img {
  border : 1px solid black;
}

.background_content_list{
  margin : 0 auto;
  width : 100%;
  height : 50px;
}

.background_content_list img {
  border : 1px solid gray;
}

/*display할 content의 이름을 보여주는 클래스*/
.content_list_name{
  margin : 0 auto;
  width : 100%;
  height : 50px;
  font-size : 30px;
  text-align : center;
  border-bottom : 2px solid red;
  background-color : white;
}

/*display할 content의 list를 보여주는 클래스*/
.content_list_things{
  margin : 0 auto;
  width : 100%;
  height : 500px;
  text-align : center;
  overflow : auto;
  background-color : white;
}

.content_list_things p{
  margin : 0 auto;
  font-size : 18px;
}

.content_list_things img{
  margin : 0 auto;
  width : 90%;
}

.none-space {
  margin-top : 10px;
  width : 100%;
  height : 20px;
  border-top :1px solid lightgray;
}


/*드롭 할 객체의 CSS*/
.droppable_content_main{
  margin : 0 auto;
  width : 1280px;
  height : 1200px;
  border : 1px solid black;
}

.drag_sub_textbox {
  margin : 0 auto;
  width : 150px;
  height : 30px;
  border : 1px solid black;
}

.drag_sub_content p {
  width : 100%;
}
